 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

 body {
     font-family: 'Roboto', sans-serif;
 }

 .container {
     max-width: 1920px;
     margin: 0 auto;
 }


 header {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .header .nav-links a {
     text-decoration: none;
     color: white;
     padding: 7px;

 }


 body {
     background-color: black;
 }

 .fa-bars {
     display: none;
     color: white;
 }

 .logo {
    width: 180px;
 }



 .logo img {
    width: 100%;
 }

 .signin button {
     background-color: #3A68B8;
     padding: 15px 30px;
     display: inline-flex;
     border-radius: 5px;
     color: white;
     cursor: pointer;
     border-color: transparent;
     /* display: none; */

 }

 @media(max-width:768px) {

     .fa-bars {
         display: block;
     }

     .nav-links {
         display: none;
     }



 }




 /* inroduction */
 .intro-left-side {
     font-size: 55px;
     color: white;
 }

 .intro-left-side h6 {
     color: #3A68B8;
     font-size: 20px;
 }

 .introduction {
     display: flex;

 }

 section.introduction {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 section.introduction .intro-left-side h1,
 h6 {
     font-size: 38px;
 }

 section.introduction .intro-right-side {
     width: 300px;
 }

 section.introduction .intro-right-side img {
     width: 100%;
 }

 @media(min-width:576px) and (max-width:850px) {
     section.introduction {
         flex-direction: row;
         justify-content: space-between;
     }

     section.introduction .intro-left-side h1 {
         font-size: 58px;

     }

 }

 @media(min-width:851px) {
     section.introduction {
         flex-direction: row;
         justify-content: space-between;
     }

     section.introduction .intro-left-side h1 {
         font-size: 72px;
     }

     section.introduction .intro-right-side img {
         padding-top: 80px;
     }

 }

 section.introduction .intro-left-side p {
     font-size: 20px;
 }

 .button #birinci,
 #ikinci {
     background-color: #3A68B8;
     padding: 15px 30px;
     display: inline-flex;
     border-radius: 5px;
     color: white;
     cursor: pointer;
     border-color: transparent;
 }

 . .logo2 {
     margin-top: 200px;
 }

 @media(max-width:768px) {

     .button #birinci,
     #ikinci {
         width: 30px;
         padding: 20px 60px 20px 20px;
     }

     .logo2 img {
         width: 300px;
         margin-top: 30px;
     }
 }

 @media(min-width:576px) and (max-width:850px) {

     .button #birinci,
     #ikinci {
         padding: 20px 60px 20px 20px;
     }

     .logo2 img {
         display: flex;
         width: 700px;
         margin-top: 30px;
     }

 }

 @media(min-width:851px) {
     .logo2 {
         margin-top: 30px;
     }
 }

 /* introduction2 */

 section.introduction2 .intro-left-side img {
    width: 725px;
 }

 section.introduction2 .intro-right-side h1{
    color: #fff;
    width: 484px;

}

section.introduction2 .intro-right-side p{
    color: #fff;
    width: 460px;
}

section.introduction2 .intro-right-side button{
    background-color: #3A68B8;
    padding: 15px 30px;
    display: inline-flex;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border-color: transparent   
}

.introduction2{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width:768px) {
 
    section.introduction2 {
     display: flex;
     flex-direction: column;

}

section.introduction2 .intro-left-side {
    width: 200px;
}
section.introduction2 .intro-left-side img{
    width: 100%;
}
 
section.introduction2 .intro-right-side h1{
    width: 370px;
    margin-left: 100px;
    font-size: 20px;
    
}

section.introduction2 .intro-right-side p{
    width: 250px;
    margin-left: 90px;
    font-size: 20px;
    
}

section.introduction2 .intro-right-side button{
    margin-left: 100px;
    
}
    
 }

 @media(min-width:576px) and (max-width:850px) {

    section.introduction2 {
        display: flex;
        flex-direction: row;
    }

    section.introduction2 .intro-left-side {
        width: 700px;
    }
    section.introduction2 .intro-left-side img{
        width: 100%;
    }

    section.introduction2 .intro-right-side h1{
     
        font-size: 35px;
    }

    section.introduction2 .intro-right-side p{

        font-size: 20px;
    }
    
 }

 @media(min-width:851px) {
    section.introduction2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    section.introduction2 .intro-left-side {
        width: 550px;
    }
    section.introduction2 .intro-left-side img{
        width: 100%;
    }

    section.introduction2 .intro-right-side h1{
     
        font-size: 45px;
    }

    section.introduction2 .intro-right-side p{

        font-size: 35px;
    }



 }